body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(6, 6, 56);
    display: flex;
    height: 6vh;
    text-align: center;
    color: #ffffff;
}

header span {
    flex: 1;
    padding: 10px;
    user-select: none;
}

header .button:hover {
    color: rgb(38, 38, 221);
    cursor: pointer;
}

header .options-se {
    color: rgb(199, 38, 92);
}

header .options-se:hover {
    color: rgb(199, 38, 92);
}

header .options-us {
    color: #ffffff;
}

header .options-us:hover {
    color: rgb(38, 38, 221);
}

.slidecontainer {
    position: relative;
    width: 10%; /* Width of the outside container */
    top: 25%;
}

/* The slider itself */
.slider {
    display: inline-block;
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    border-radius: 10%;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #383838; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #383838; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

main {
    flex-grow: 1;
    text-align: center;
    height: 80vh;
}

main #bars-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 70%;
    height: 100%;
}

main #bars-container .bar {
    display: inline-block;
    flex: 1;
    width: 100%;
    height: 100%;
    background: rgb(74, 74, 252);
    margin: 0 1px;
}

main #bars-container .bar:nth-child(20) {
    height: 10%;
}

footer {
    color: #888888;
    border-top: 1px solid #d8d8d8;
    margin-bottom: -45rem;
}
